<div class="row">
  <h2>Book:</h2>
  <h3><%= @book.title %> <%= @book.genre %></h3>
</div>
<div class="row">
  <h2>Written by:</h2>
  <h3><%= @author.firstName %> <%= @author.lastName %></h3>
  <%=  button_to "delete", @book,method: :delete %>
</div>
