<div class="row">

  <p class="list-group-item"><strong>Book:</strong> <%= @book.title %></p>
  <p class="list-group-item"><strong>Genre:</strong> <%= @book.genre %></p>
</div>
<div class="row">

  <p class="list-group-item"><strong>Author:</strong> <%= @author.firstName %> <%= @author.lastName %></p>
  <%=  button_to "delete", @book,method: :delete , class: 'btn btn-danger' %>
</div>
